// .wrapper {
//   height: 200px;
//   background-color: var(--primary);
//   margin-top: 20px;
// }

.footer-wrapper {
  background-color: var(--primary);
  color: black;
  padding: 30px;
  width: 100%;
}

.footer {
  display: flex;
  // grid-template-columns: repeat(4, 1fr);
  // gap: 10px;
  // max-width: 1000px;
  // margin-left: 150px;
}

.footer-column {
  h3 {
    color: black;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
  }
}

.title-social {
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  a {
    display: block;
    margin-top: 10px;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}